<div id="div-banner">
  <img src="assets/vdub.jpg" alt="vdub" id="img-banner">
  <div id="nav"><a href="/user/trip">Create Trip</a></div>
</div>

<div id="profile-container">
  <div id="test">
    <img src="assets/samurai.jpg" alt="face" id="profile-img">
    <h1>Welcome user!</h1>
  </div>
  <div id="profile-content">
    <h3>The Bio</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis, illum, quas delectus nihil id minima tempora deleniti voluptatum vel sequi reiciendis cupiditate itaque ex molestias perferendis quibusdam voluptatibus explicabo!
    </p>
  </div>
</div>