@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Lustria);

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

h1 h2 h3 h4 h5 h6 {
  font-family: Helvetica;
}


/******* splash page ********/

.alert{
  position: absolute;
  font-family: 'Poiret One';
  font-size: 1.5em;
  color: white;
  z-index: 10;
}

.button {
  color: white;
  font-family: 'Poiret One';
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 10px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
  background-color: white;
  color: black;
}

/****** nav buttons ******/

.button-nav:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #34495e;
  color: #ecf0f1;
  border: 1px solid black;
  margin: -1px;
  border-radius: 5px;
  padding: 5px 0;
}

/*************************/

#example-video-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.form-button {
  font-family: 'Poiret One';
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.main-container {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
}

/*.sign-in{
  font-family: 'Poiret One';
  font-weight: bold;
  margin-top: 15px;
}*/

.splash-video {
  height: 100%;
}

#splash-first {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
}

#splash-home {
  color: white;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.9);
  z-index: 100;
}

#splash-home h1 {
  font-family: 'Poiret One';
  /*font-weight: 700;*/
  letter-spacing: 1px;
}

/******* about us section *******/

html {
  background: url(/street.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#logo {
  height: 30%;
  margin-left: 20px;
  margin-top: -5px;
  position: absolute;
  width: 100px;
}*/

.opening {
  font-size: 1.5em;
}

#splash-second {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
}

.splash-about {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #3498db;
  border-radius: 10px;
  display: inline-block;
  font-family: Lustria;
  line-height: 1.5;
  padding: 20px;
  margin: 1px;
  width: 450px;
}

#button-signup {
  background-color: #3498db;
}

#button-signup:hover {
  border: 3px solid black;
  color: black;
  margin-top: 28px;
}

/****** sign up section ******/

#splash-signup {
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #3498db;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Poiret One';
  padding: 20px;
  margin: 1px;
}

#splash-signup h2 {
  font-size: 2em;
  padding-bottom: 10px;

}

#splash-third {
  background-image: url(/splash-third1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 200%;
  text-align: center;
}

table {
  margin: 0 auto;
}

tr {
  line-height: 30px;
}

/****** profile page ******/

.delete {
  border: 1px solid black;
  border-radius: 7px;
  padding: 0 5px;
}

#div-banner {
  border: 1px solid #3498db;
}


#nav {
  bottom: 0;
  background-color: rgba(236, 240, 241, .9);
  height: 30px;
  padding-top: 5px;
  text-align: center;
  font-family: "Lustria";
}

#nav a {
  color: inherit;
  font-size: 20px;
  padding: 0 10px 0px 10px;
  text-decoration: none;
}


#profile-img {
  border: 1px solid #3498db;
  border-radius: 50%;
  float: left;
  height: 200px;
  margin-right: 10px;
  padding: 1px;
  width: 200px;
}

#image-uploader {
  display: none;
  position: absolute;
}

#profile-container {
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 25px;
  text-align: center;
}

.header-font {
  font-family: Lustria;
  margin-top: 5px;
}

.header-font td {
  width: 350px;
}

.body-font {
  font-family: 'Poiret One';
  color: black;
}

.current-trips {
  font-family: Lustria;
  background-color: rgba(236, 240, 241, .9);
  border: 1px solid #3498db;
  border-radius: 15px;
  line-height: 2.0;
  margin-top: 10px;
  display: inline-block;
  padding: 20px;
}

.profile-content {
  background-color: rgba(236, 240, 241, .9);
  border: 1px solid #3498db;
  border-radius: 15px;
  line-height: 2.0;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
}

#user-trips {
  background-color: rgba(236, 240, 241,1.0);
  border: 1px solid;
  border-radius: 15px;
  line-height: 2.0;
  width: 400px;
}

/*#edit-form {
  display: none;
}*/

/******* trip form ********/

.form-container {
  font-family: Lustria;
  line-height: 2.0;
  padding-top: 15px;
  padding-left: 20px;
  
}

.side-bar {
  background-color: lightblue;
  bottom: 30px;
  opacity: 0.5;
  filter: alpha(opacity=40);
  position: fixed;
  right: -280px;
  top: 150px;
  width: 300px;
  height: 400px;
  z-index: 1000;

  -webkit-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;

  -webkit-box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, .3);
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, .3);
}

/********* TRIP PAGE ***********/

.background-img {
/*  background: url(street.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.not-depressing {
  color: rgba(211, 84, 0,1.0);
}

#info {
  border: 1px solid black;
  border-radius: 10px;
}

.request {
  border: 1px solid black;
  border-radius: 10px;
}

.request:hover {
  cursor: pointer;
}

#show-trip {
  background-color: rgba(236, 240, 241, .9);
  display: none;
  text-align: center;
  font-family: 'Poiret One';
  font-size: 1.5em;
  border: 1px solid;
  vertical-align: top;
}

.table-headers {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.trips td{
  font-weight: bold;
  text-align: center;
}

.trip-table {
  background-color: rgba(236, 240, 241, .9);
  border: 1px solid #3498db;
  font-family: 'Poiret One';
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  /*display: inline-block;*/
}

.trip-table td {
  width: 120px;
}

#spacing-bottom {
  clear: both;
  height: 100px;
  width: 100%;
}


/*------------MODALS -------------*/

#mask {  
  position:absolute;
  top: 0px;  
  left: 0px;   
  height: 100%;  
  width: 100%;  
  display: none; 
  background-color: black;  
}  

.modal-window {  
  position: absolute;  
  display: none;  
}

.splash-modal {
  padding: 20px;
  background-color: white;
}

.splash-modal div {
  margin-top: 10px;
}

#edit{
  position: absolute;
  left: 50%;
  border-radius: 10px
}

#edit td {
  text-align: left;
}


