@import url(http://fonts.googleapis.com/css?family=Poiret+One);

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

h1 h2 h3 h4 h5 h6 {
  font-family: Helvetica;
}

p {
  font-family: Garamond;
}

/******* splash page ********/


.button {
  color: white;
  font-family: 'Poiret One';
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 10px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
  background-color: white;
  color: black;
}

#example-video-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.form-button {
  font-family: 'Poiret One';
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

#main-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.sign-in{
  font-family: 'Poiret One';
  font-weight: bold;
  margin-top: 15px;
}

.splash-video {
  height: 100%;
}

#splash-first {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
}

#splash-home {
  color: white;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

#splash-home h1 {
  font-family: 'Poiret One';
  /*font-weight: 700;*/
  letter-spacing: 1px;
}

/******* about us section *******/

#splash-second {
  text-align: center;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
}

#splash-about {
  background-color: lightblue;
  border: 1px solid #3498db;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Poiret One';
  padding: 20px;
  margin: 1px;
  width: 450px;
}

#button-signup {
  color: black;
}

#button-signup:hover {
  border: 3px solid black;
  color: black;
  margin-top: 28px;
}

/****** sign up section ******/

#splash-signup {
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #3498db;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Poiret One';
  padding: 20px;
  margin: 1px;
}

#splash-signup h2 {
  font-size: 2em;
  padding-bottom: 10px;

}

#splash-third {
  background-image: url(splash-third1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 200%;
  text-align: center;
}

table {
  margin: 0 auto;
}

tr {
  line-height: 30px;
}

/****** profile page ******/

#profile-logo {
  font-family: 'Poiret One';
  padding: 10px 0 10px 10px;
}

/*
#div-banner {
  height: 440px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
*/

#img-banner {
  height: 400px;
  margin-bottom: -4px;
  width: 100%;
}

#nav {
  bottom: 0;
  background-color: rgba(52, 73, 94, .7);
  margin-top: -1px;
  margin-left: -55px;
  padding-top: 5px;
  height: 30px;
  text-align: center;
}

#nav a {
  font-size: 20px;
  padding: 0 10px 0px 10px;
  text-decoration: none;
}

#profile-div {
  margin-top: -200px;
  margin-left: -50px;
}

#profile-img {
  border: 3px solid white;
  border-radius: 50%;
  height: 200px;
  margin-right: 250px;
  margin-left: 250px;
  padding: 1px;
  width: 200px;
}

#profile-container {
  margin-right: 300px;
  margin-left: 150px;
  margin-top: 25px;
  text-align: center;
}

.profile-content {
  background-color: rgba(236, 240, 241,1.0);
  border: 1px solid;
  border-radius: 15px;
  line-height: 2.0;
  float: left;
  width: 400px;
}

#user-trips {
  background-color: rgba(236, 240, 241,1.0);
  border: 1px solid;
  border-radius: 15px;
  line-height: 2.0;
  float: right;
  width: 400px;
}

/******* trip form ********/

.form-container {
  line-height: 2.0;
  padding-top: 15px;
  padding-left: 20px;
  
}

.trip-form {
  background-color: lightblue;
}

.side-bar {
  background-color: #ffffff;
  bottom: 30px;
  opacity: 0.5;
  filter: alpha(opacity=40);
  position: fixed;
  right: -280px;
  top: 0;
  width: 300px;
  height: 400px;
  z-index: 1000;

  -webkit-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;

  -webkit-box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, .3);
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, .3);
}

/********* TRIP PAGE ***********/

.request {
  border: 1px solid black;
  border-radius: 10px;
}

.request:hover {
  cursor: pointer;
}

#show-trip {
  font-family: 'Poiret One';
  font-size: 1.5em;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid;
}

.table-headers {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.trips {
  text-align: center;
}

.trip-table {
  font-family: 'Poiret One';
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  border: 1px solid;
}

.trip-table td {
  width: 120px;
}

#spacing-bottom {
  clear: both;
  height: 100px;
  width: 100%;
}









